@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "ggwewq";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.046 192.524);
  --color-base-200: oklch(38% 0.063 188.416);
  --color-base-300: oklch(43% 0.078 188.216);
  --color-base-content: oklch(95% 0.051 180.801);
  --color-primary: oklch(79% 0.209 151.711);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(28% 0.109 3.907);
  --color-accent: oklch(70% 0.022 261.325);
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: oklch(43% 0.078 188.216);
  --color-neutral-content: oklch(98% 0.014 180.72);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
